/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Barlow', sans-serif;
    font-size: 0.8rem;
    background: #FFFAE7;
}

.image-wrap {
  width: 20%;
}
.img {
  width: 100%;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
.content-wrapper {
  display: flex;
  gap: 1rem;
}
.side-content {
  width: 50%;
  margin: 2rem;
}
.main-wrapper {
  display: flex;
  margin-top: 3rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.info{
    text-align: lef;
    padding: 50px 0;
}

.info ul{
    margin-top: 20px;
    line-height: 1.5rem;
    letter-spacing: .05rem;
}
.info ul li{
    list-style-type: none;
}

.name{
    text-align: center;
    padding: 65px 0;
}

.name h1{
    font-size: 3rem;
}
.bottom-content {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
  gap: 20px;
}
.bottom-item {
  width: 50%;
  border: solid 1px black;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 10px #F5EDDC;
  background: #EEE6CE;
}
.icon{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.bottom-item p{
    font-size: 1.5rem;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 15rem;
    margin-bottom: 10rem;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.container .card{
    position: relative;
    width: 220px;
    height: 250px;
    background: #78938A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 10px #F5EDDC;
}

.container .card .percent{
    position: relative;
    width: 150px;
    height: 150px;
}

.container .card .percent svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

.container .card .percent svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: #191919;
    transform: translate(5px, 5px);
}

.container .card .percent svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 6s;
}

.dot{
    position: absolute;
    inset: 5px;
    z-index: 10;
    animation: animateDot 2s linear forwards;
    animation-delay: 3s;
}

.dot::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: var(--clr);
    border-radius: 50%;
}

.number{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 6s;
}

@keyframes animateDot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(calc(3.6deg * var(--num)));
        
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media only screen and (max-width: 750px) {
  .main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .bottom-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}